@import url(reset.css);
    
.blue {
    background: green;
}

.flex-grid {
  display: flex;
    width: 100%;
/*  margin: 0 0 20px 0;*/
}
.flex-grid .col {
  flex: 1;
  background: salmon;
/*  padding: 20px;*/
/*  width: 40vw;*/
  height: 100vh;
}

.flex-grid .col-wide {
  flex: 1;
  background: green;
/*  padding: 20px;*/
  height: 100vh;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .col {
      width: 100vw;
      margin: 0 0 10px 0;
    }
      .col-wide {
      width: 100vw;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing: border-box;
}

.col-a1, .col-a2 {
    background: green;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    
}
#tooltip {
    background-color: #F7F7F7;
    border:solid 1px #888888;
    height:auto;
    width: auto;
    padding: 5px;
    position: absolute;
    display: none;
}

#tooltip .title {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#tooltip .info {
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

#tooltip .movie {
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style:italic;
    margin-bottom: 10px;
}

.rect1 {
    fill: black;
}

.rect2 {
    fill: green;
}
.roiText {
    
}
.filmMakers {
    stroke-width: 3;
}