@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto|Shrikhand|Open Sans');
    
.clip-circle {
  clip-path: circle(3rem at center);
}

h1 {
    font-family: 'Shrikhand', 'Helvetica', sans-serif;
    color: #333;
    font-size: 3rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
}
h2 {
    font-family: 'Open Sans', 'Helvetica', serif;
    color: #333;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.wrapper {
  background: #eee;
  height: 100vh;
  text-align:center;
}


#beige-head {
  fill: hsla(0, 45%, 95%, 1);
}
#whole-head {
  width: 30rem;
  height: 30rem;
  position: relative;
    margin-top: -1rem;
}
#nose-shape {
  fill: hsla(0, 45%, 95%, 1);
}

/* Cleaner, but slightly less support: use "50%" as value */

.blue {
    background: green;
}

.flex-grid {
  display: flex;
    width: 100%;
/*  margin: 0 0 20px 0;*/
}
.flex-grid .col {
  flex: 1;
  background: salmon;
/*  padding: 20px;*/
/*  width: 40vw;*/
  height: 100vh;
}

.flex-grid .col-wide {
  flex: 1;
  background: green;
/*  padding: 20px;*/
  height: 100vh;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .col {
      width: 100vw;
      margin: 0 0 10px 0;
    }
      .col-wide {
      width: 100vw;
      margin: 0 0 10px 0;
    }
  }
}




* {
  box-sizing: border-box;
}


.col-a1, .col-a2 {
    background: green;
}

body {
/*    display: flex;*/
    flex-direction: column;
    align-items: center;
    font-family: "Verdana", sans-serif;
    
}

#right-eye {
    position: relative;
    top: 24rem;
    left: -4rem;
    transform: scale(.8);
    z-index: 2;
}
#left-eye {
    position: relative;
    top: 24rem;
    left: 4rem;
    transform: scale(.8);
    z-index: 2;
}


.buffer {
    width: 5%;
}
p {
    font-size: 9px;
}
.introPara {
   font-size: 12px; 
}
#everything {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 1000px;
}
.intro {
    width: 60%;
}
.filterContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    min-width: 300px;
    align-content: space-between;
    justify-content: space-between;
}
.legend {
    display:flex;
    flex-direction: column;
}
.legendContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.button {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.legendStuff {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.characterCircle {
    opacity: 1.0;
}
.filterButton {
    border-radius: 30%;
    border: 1px solid gray;
    background-color: gray;
    width: 20px;
    height: 20px;
    background-image: url('checkMark.png');
    background-position: center; 
}

.legendItem {
    border-radius: 20%;
    background-color: gray;
    width: 30px;
    height: 5px;
    margin-bottom: -8px;
}
.filterButton:hover {
    border: 1px solid red;
}
.filterButtonActive {
    
}
#tooltip {
    background-color: #333;
    border:solid 1px #888888;
    height:auto;
    width: auto;
    padding: 5px;
    position: absolute;
    display: none;
}

#tooltip .title {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#tooltip .info {
    color: white;
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

#tooltip .movie {
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style:italic;
    margin-bottom: 10px;
}

.graph-title {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: 600;
    fill: black;
}
.graph-title:hover{
    fill:black;
}

.rect1 {
    fill: black;
}

.rect2 {
    fill: #117733;
}
.roiText {

}
.filmMakers {
    stroke-width: 3;
}
.label {
    fill: black;
}