@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto|Shrikhand|Open Sans');

/*
.clip-circle {
    clip-path: circle(3rem at center);
    -webkit-clip-path: circle(3rem at center);
}
*/

* {
    box-sizing: border-box;
}

.movie {
    width: 100%;
}

span.text-test {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    -webkit-transition: opacity 700ms;
    -moz-transition: opacity 700ms;
    -o-transition: opacity 700ms;
    transition: opacity 700ms;
}

span.text-test:hover {
    opacity: 1;
}

.movie-text {
    margin: 2vw 20vw 3vw 20vw;
    text-align: center;
    font-size: 1.3rem;
}

.gif-col {
display: flex
}

.damon-left, .right-flex {
    flex: 0 1 auto;
    margin: 1rem;
}

.movie-text p {
    text-align: left !important;
    margin-left: 1rem;
    margin-top: -.5rem;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100vw;
}

.flex-item {
    background: #f8f8f8;
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#viz-heads {
    width: 100vw;
      margin-top: -10px;
}

#right-eye {
    position: relative;
    top: 22.5rem;
    left: -7rem;
    transform: scale(.7);
    z-index: 2;
    border-radius: 50%;
}

.circle h1 {
    margin-top: -5rem;
}

#left-eye {
    position: relative;
    top: 22.5rem;
    left: 7rem;
    transform: scale(.7);
    z-index: 2;
    border-radius: 50%;
}

.arrow-wrapper {
    text-align: center;
}

h1 {
    font-family: 'Shrikhand', 'Helvetica', sans-serif;
    color: #333;
    font-size: 3rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Shrikhand', 'Helvetica', sans-serif;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-family: 'Shrikhand', 'Helvetica', sans-serif;
    color: #333;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #662D91;
}

h2 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #333;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#page2,
#page3,
#page4 {
    height: 100vh;
}

.wrapper {
    background: #f8f8f8;
    margin-top: 0;
    height: 100vh;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.down-arrow {
    animation: blink 1.3s ease-in-out infinite;
    -webkit-animation: blink 1.3s ease-in-out infinite;
}

#beige-head {
    fill: hsla(0, 45%, 95%, 1);
}

#whole-head {
    /*
    width: 30rem;
    height: 30rem;
*/
    /*    height: 90vh;*/
    position: relative;
    margin-top: -3.5rem;
    object-fit: contain;
    height: 74vh;
    width: 50vh;
    max-width: 100%;
    max-height: 100%;
}

#nose-shape {
    fill: hsla(0, 45%, 95%, 1);
}

body {
    color: "red";
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

#eye {
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    -moz-transform-origin: 0 0;
}

.buffer {
    width: 5%;
}

p {
    font-size: 9px;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Open Sans, Arial, sans-serif;
}

.introPara {
    font-size: 1rem;
}

#everything {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.intro {
    width: 60%;
    margin-bottom: 40px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    min-width: 300px;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 100px;
}

.legend {
    display: flex;
    flex-direction: column;
}

.legendContainer {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.legendStuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.characterCircle {
    opacity: 1.0;
}

.filterButton {
    border-radius: 30%;
    border: 1px solid #333;
    background-color: #333;
    width: 20px;
    height: 20px;
    background-image: url('checkMark.png');
    background-position: center;
}

.legendItem {
    border-radius: 20%;
    background-color: gray;
    width: 30px;
    height: 5px;
    margin-bottom: -8px;
}

.legendGender {
    width: 20px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

#maleLegend {
    background-image: url('outline.png');
    background-repeat: no-repeat;
}

#mL {
    margin-left: -18px;
}

#fL {
    margin-left: -17px;
}

#tooltip-wrapper {
    position: absolute;
}

#femaleLegend {
    background-image: url('filled.png');
    background-repeat: no-repeat;
}

.filterButton:hover {
    border: 1px solid red;
}

.filterButtonActive {}

#tooltip {
    background-color: #333;
    height: auto;
    width: auto;
    padding: 10px;
    position: fixed;
    display: none;
    border-radius: 3%;
}

#tooltip .title {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#tooltip .info {
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

#tooltip .movie {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.graph-title {
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans, Arial, sans-serif;
    fill: black;
}

.graph-title:hover {
    fill: black;
}

.rect1 {
    fill: black;
}

.rect2 {
    fill: #117733;
}

.roiText {}

.filmMakers {
    stroke-width: 3;
}

.label {
    fill: black;
}