body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana", sans-serif;
    
}
.buffer {
    width: 5%;
}
<<<<<<< HEAD
p {
    font-size: 9px;
}
.introPara {
   font-size: 12px; 
}
#everything {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 1000px;
}
.intro {
    width: 60%;
}
=======
>>>>>>> origin/master
.filterContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    min-width: 300px;
    align-content: space-between;
    justify-content: space-between;
}
.legend {
    display:flex;
    flex-direction: column;
}
.legendContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.button {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.legendStuff {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.characterCircle {
    opacity: 1.0;
}
.filterButton {
    border-radius: 30%;
    border: 1px solid gray;
    background-color: gray;
    width: 20px;
    height: 20px;
    background-image: url('checkMark.png');
    background-position: center; 
}

.legendItem {
    border-radius: 20%;
    background-color: gray;
    width: 30px;
    height: 5px;
    margin-bottom: -8px;
}
.filterButton:hover {
    border: 1px solid red;
}
.filterButtonActive {
    
}
#tooltip {
    background-color: #333;
    border:solid 1px #888888;
    height:auto;
    width: auto;
    padding: 5px;
    position: absolute;
    display: none;
}

#tooltip .title {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#tooltip .info {
    color: white;
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

#tooltip .movie {
    font-family: "Gil Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style:italic;
    margin-bottom: 10px;
}

.graph-title {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: 600;
    fill: black;
}
.graph-title:hover{
    fill:black;
}

.rect1 {
    fill: black;
}

.rect2 {
    fill: #117733;
}
.roiText {

}
.filmMakers {
    stroke-width: 3;
}
.label {
    fill: black;
}